.object-explorer {
  background: white;
  padding: 1em;
}
.object-explorer .indent {
  padding-left: 1em;
}
.object-explorer .property-left {
  min-width: 10em;
  display: inline-block;
}
.object-explorer .expand-button {
  padding: 0.1em;
  margin: 0;
  font-size: 1em;
  height: auto;
  width: auto;
  background: none;
  border: none;
  color: black;
}
.object-explorer .expand-button:hover {
  background: none;
  color: gray;
}
.object-explorer .property {
  color: #2AA198;
}
.object-explorer .number {
  color: #D33682;
}
.object-explorer .string {
  color: #859900;
}
.object-explorer .atom {
  color: #D33682;
}